 #  A Whale off the Port(folio)
 ---

 In this assignment, you'll get to use what you've learned this week to evaluate the performance among various algorithmic, hedge, and mutual fund portfolios and compare them against the S&P 500 Index.

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

# Data Cleaning

In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp500_history.csv`: Contains historical closing prices of the S&P 500 Index.

## Whale Returns

Read the Whale Portfolio daily returns and clean the data

In [2]:
# Reading whale returns
whale_returns_path = Path("Resources/whale_returns.csv")
algo_returns_path = Path("Resources/algo_returns.csv")
algor = pd.read_csv(algo_returns_path, index_col='Date', infer_datetime_format=True, parse_dates=True)
whaler = pd.read_csv(whale_returns_path, index_col='Date', infer_datetime_format=True, parse_dates=True)

whaler.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-02,NaN,NaN,NaN,NaN
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098

In [3]:
# Count nulls
whaler.isnull().sum()

SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [4]:
# Drop nulls
whaler.dropna(inplace=True)
#whaler.isnull().sum()
whaler.head(100)

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
2015-03-09,0.000582,0.004225,0.005843,-0.001652
...,...,...,...,...
2015-07-16,0.002683,-0.002170,0.003935,0.014835
2015-07-17,-0.001662,-0.003665,0.001108,0.008452
2015-07-20,-0.008217,-0.003349,0.001345,-0.004670
2015-07-21,0.000868,0.000731,-0.006046,-0.001678
2015-07-22,-0.002053,-0.001338,0.001271,0.001726

## Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data

In [5]:
# Reading algorithmic returns
whaledr = whaler.pct_change()

whaledr.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-03,NaN,NaN,NaN,NaN
2015-03-04,-2.762070,-1.650792,4.113646,-1.641381
2015-03-05,0.800968,0.257544,-1.929234,0.596558
2015-03-06,-2.968465,-1.876837,-4.601872,-2.947282
2015-03-09,-1.073656,-2.182252,-1.688907,-0.873840

In [6]:
# Count nulls
whaledr.isnull().sum()

SOROS FUND MANAGEMENT LLC      15
PAULSON & CO.INC.              15
TIGER GLOBAL MANAGEMENT LLC    15
BERKSHIRE HATHAWAY INC         15
dtype: int64

In [7]:
# Drop nulls
whaledr.dropna(inplace=True)
whaledr.isnull().sum()

SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
dtype: int64

In [8]:
# Test CSV to look at 
# whaledr.to_csv('dftest.csv', index=True)

## S&P 500 Returns

Read the S&P 500 historic closing prices and create a new daily returns DataFrame from the data.

In [9]:
# Reading S&P 500 Closing Prices
sp500_history_path = Path("Resources/sp500_history.csv")

sp500 = pd.read_csv(sp500_history_path, index_col='Date', infer_datetime_format=True, parse_dates=True)
sp500.head()

               Close
Date
2019-04-23  $2933.68
2019-04-22  $2907.97
2019-04-18  $2905.03
2019-04-17  $2900.45
2019-04-16  $2907.06

In [10]:
# Check Data Types
sp500.dtypes

Close    object
dtype: object

In [11]:
# Fix Data Types

sp500['Close'] = sp500.replace('\$','', regex=True)
sp500['Close'] = sp500.astype(float)
sp500.head(20)

              Close
Date
2019-04-23  2933.68
2019-04-22  2907.97
2019-04-18  2905.03
2019-04-17  2900.45
2019-04-16  2907.06
2019-04-15  2905.58
2019-04-12  2907.41
2019-04-11  2888.32
2019-04-10  2888.21
2019-04-09  2878.20
2019-04-08  2895.77
2019-04-05  2892.74
2019-04-04  2879.39
2019-04-03  2873.40
2019-04-02  2867.24
2019-04-01  2867.19
2019-03-29  2834.40
2019-03-28  2815.44
2019-03-27  2805.37
2019-03-26  2818.46

In [12]:
# Calculate Daily Returns
sp500dr = sp500.pct_change()
sp500dr.head()

               Close
Date
2019-04-23       NaN
2019-04-22 -0.008764
2019-04-18 -0.001011
2019-04-17 -0.001577
2019-04-16  0.002279

In [13]:
# Drop nulls
sp500dr.dropna(inplace = True)

In [14]:
# Rename `Close` Column to be specific to this portfolio.
sp500dr.rename(columns={'Close': 'SP500 Close'})

            SP500 Close
Date
2019-04-22    -0.008764
2019-04-18    -0.001011
2019-04-17    -0.001577
2019-04-16     0.002279
2019-04-15    -0.000509
...                 ...
2012-10-05     0.003469
2012-10-04     0.000322
2012-10-03    -0.007123
2012-10-02    -0.003611
2012-10-01    -0.000872

[1648 rows x 1 columns]

## Combine Whale, Algorithmic, and S&P 500 Returns

In [15]:
# Join Whale Returns, Algorithmic Returns, and the S&P 500 Returns into a single DataFrame with columns for each portfolio's returns.
combined = pd.concat([whaledr, algor, sp500dr], axis='columns', join='inner')

combined.head(10)

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,Algo 1,Algo 2,Close
Date,,,,,,,
2015-03-04,-2.762070,-1.650792,4.113646,-1.641381,-0.008589,0.002416,-0.001195
2015-03-05,0.800968,0.257544,-1.929234,0.596558,-0.000955,0.004323,0.014378
2015-03-06,-2.968465,-1.876837,-4.601872,-2.947282,-0.004957,-0.011460,-0.003929
2015-03-09,-1.073656,-2.182252,-1.688907,-0.873840,-0.005447,0.001303,0.017254
2015-03-10,-18.625495,-2.263954,-3.067380,4.893672,-0.001392,-0.012155,0.001921
2015-03-11,-1.390912,-1.966750,-1.274177,-0.882260,0.002994,0.000605,-0.012445
2015-03-12,1.060018,0.989412,2.960622,-10.419761,-0.002935,0.011667,0.006112
2015-03-13,-1.302164,-1.139064,-1.281865,-1.753810,-0.005423,-0.005062,-0.013353
2015-03-16,-4.163697,-3.508046,-3.151096,-1.989242,-0.003395,0.004117,0.003331
2015-03-17,-0.728894,-0.182672,-1.086405,-0.952281,-0.002822,0.001274,-0.012012

In [16]:
combined.shape

(1028, 7)

In [17]:
combined.isnull().sum()

SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
Algo 1                         0
Algo 2                         0
Close                          0
dtype: int64

---

# Conduct Quantitative Analysis

In this section, you will calculate and visualize performance and risk metrics for the portfolios.

## Performance Anlysis

#### Calculate and Plot the daily returns.

In [18]:
# Plot daily returns of all portfolios

allcombined = combined.pct_change()

allcombined.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,Algo 1,Algo 2,Close
Date,,,,,,,
2015-03-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-05,-1.289988,-1.156012,-1.468984,-1.363449,-0.888803,0.789231,-13.035127
2015-03-06,-4.706095,-8.287443,1.385337,-5.940478,4.190043,-3.650914,-1.273267
2015-03-09,-0.638313,0.162729,-0.632996,-0.703510,0.098917,-1.113716,-5.391499
2015-03-10,16.347725,0.037439,0.816193,-6.600194,-0.744524,-10.327163,-0.888644

#### Calculate and Plot cumulative returns.

In [19]:
# Calculate cumulative returns of all portfolios

# Plot cumulative returns

---

## Risk Analysis

Determine the _risk_ of each portfolio:

1. Create a box plot for each portfolio. 
2. Calculate the standard deviation for all portfolios
4. Determine which portfolios are riskier than the S&P 500
5. Calculate the Annualized Standard Deviation

### Create a box plot for each portfolio

In [20]:
# Box plot to visually show risk

### Calculate Standard Deviations

In [21]:
# Calculate the daily standard deviations of all portfolios

### Determine which portfolios are riskier than the S&P 500

In [22]:
# Calculate  the daily standard deviation of S&P 500

# Determine which portfolios are riskier than the S&P 500

### Calculate the Annualized Standard Deviation

In [23]:
# Calculate the annualized standard deviation (252 trading days)

---

## Rolling Statistics

Risk changes over time. Analyze the rolling statistics for Risk and Beta. 

1. Calculate and plot the rolling standard deviation for the S&P 500 using a 21-day window
2. Calculate the correlation between each stock to determine which portfolios may mimick the S&P 500
3. Choose one portfolio, then calculate and plot the 60-day rolling beta between it and the S&P 500

### Calculate and plot rolling `std` for all portfolios with 21-day window

In [24]:
# Calculate the rolling standard deviation for all portfolios using a 21-day window

# Plot the rolling standard deviation

### Calculate and plot the correlation

In [25]:
# Calculate the correlation

# Display de correlation matrix

### Calculate and Plot Beta for a chosen portfolio and the S&P 500

In [26]:
# Calculate covariance of a single portfolio

# Calculate variance of S&P 500

# Computing beta

# Plot beta trend

## Rolling Statistics Challenge: Exponentially Weighted Average 

An alternative way to calculate a rolling window is to take the exponentially weighted moving average. This is like a moving window average, but it assigns greater importance to more recent observations. Try calculating the [`ewm`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html) with a 21-day half-life.

In [27]:
# Use `ewm` to calculate the rolling window

---

# Sharpe Ratios
In reality, investment managers and thier institutional investors look at the ratio of return-to-risk, and not just returns alone. After all, if you could invest in one of two portfolios, and each offered the same 10% return, yet one offered lower risk, you'd take that one, right?

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [28]:
# Annualized Sharpe Ratios

In [29]:
# Visualize the sharpe ratios as a bar plot

### Determine whether the algorithmic strategies outperform both the market (S&P 500) and the whales portfolios.

Write your answer here!

---

# Create Custom Portfolio

In this section, you will build your own portfolio of stocks, calculate the returns, and compare the results to the Whale Portfolios and the S&P 500. 

1. Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.
2. Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock
3. Join your portfolio returns to the DataFrame that contains all of the portfolio returns
4. Re-run the performance and risk analysis with your portfolio to see how it compares to the others
5. Include correlation analysis to determine which stocks (if any) are correlated

## Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.

For this demo solution, we fetch data from three companies listes in the S&P 500 index.

* `GOOG` - [Google, LLC](https://en.wikipedia.org/wiki/Google)

* `AAPL` - [Apple Inc.](https://en.wikipedia.org/wiki/Apple_Inc.)

* `COST` - [Costco Wholesale Corporation](https://en.wikipedia.org/wiki/Costco)

In [30]:
# Reading data from 1st stock

In [31]:
# Reading data from 2nd stock

In [32]:
# Reading data from 3rd stock

In [33]:
# Combine all stocks in a single DataFrame

In [34]:
# Reset Date index

In [35]:
# Reorganize portfolio data by having a column per symbol

In [36]:
# Calculate daily returns

# Drop NAs

# Display sample data

## Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock

In [37]:
# Set weights
weights = [1/3, 1/3, 1/3]

# Calculate portfolio return

# Display sample data

## Join your portfolio returns to the DataFrame that contains all of the portfolio returns

In [38]:
# Join your returns DataFrame to the original returns DataFrame

In [39]:
# Only compare dates where return data exists for all the stocks (drop NaNs)

## Re-run the risk analysis with your portfolio to see how it compares to the others

### Calculate the Annualized Standard Deviation

In [40]:
# Calculate the annualized `std`

### Calculate and plot rolling `std` with 21-day window

In [41]:
# Calculate rolling standard deviation

# Plot rolling standard deviation

### Calculate and plot the correlation

In [42]:
# Calculate and plot the correlation

### Calculate and Plot Rolling 60-day Beta for Your Portfolio compared to the S&P 500

In [43]:
# Calculate and plot Beta

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [44]:
# Calculate Annualzied Sharpe Ratios

In [45]:
# Visualize the sharpe ratios as a bar plot

### How does your portfolio do?

Write your answer here!